{% extends "base.html" %}

{% block title %}LISTADO DE PRODUCTOS{% endblock %}
{% block content %}
<h2>LISTADO DE PRODUCTOS</h2>
<table class="table table-striped table-light">
    <thead class="table-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">ID</th>
        <th scope="col">NOMBRE</th>
        <th scope="col">PRECIO</th>
        <th scope="col">STOCK_ACTUAL</th>
        <th scope="col">PROVEEDOR_ID</th>
      </tr>
    </thead>
    <tbody>
        {% for producto in productos %}
        <tr>
        <th scope="row">{{ forloop.counter }}</th>
        <td>{{ producto.id }}</td>
        <td>{{ producto.nombre }}</td>
        <td>{{ producto.precio }} </td>
        <td>{{ producto.stock_actual }}</td>
        <td>{{ producto.proveedor }}</td>
      </tr>
      {% endfor %}

    </tbody>
  </table>
{% endblock %}