{% extends 'content.html' %}
{% block subcontent_derecha %}
  {% block buscarId %}

  {% endblock %}
  <div class="d-grid gap-2 col-8 mx-auto">
    <a href="{{ link_crear }}" class="btn btn-outline-info bg-opacity-25" tabindex="-1" role="button" aria-disabled="false">Crear</a>
    <a href="/buscarId/" class="btn btn-outline-info bg-opacity-25" tabindex="-1" role="button" aria-disabled="false">Editar</a>
    <a href="/buscarId/" class="btn btn-outline-info bg-opacity-25" tabindex="-1" role="button" aria-disabled="false">Borrar</a>
  </div>
{% endblock %}
